.cards__link {
  border: 0;
  padding: 0;
  background-color: inherit;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 5px;
  align-self: center;
}

.cards__link:active {
  opacity: 1;
  background-image: url(../../../images/like-active.svg);
}
