.profile__container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

@media (max-width: 590px) {
  .profile__container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 34px;
  }
}
