@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__section/page__section.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/page/__portfolio/page__portfolio.css);

@import url(../blocks/header/header.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/link/link.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__link/profile__link.css);
@import url(../blocks/profile/__button/profile__button.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__list/cards__list.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__desc/cards__desc.css);
@import url(../blocks/cards/__subtitle/cards__subtitle.css);
@import url(../blocks/cards/__link/cards__link.css);

@import url(../blocks/footer/footer.css);

* {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
}

