.profile__info {
  display: grid;
  grid-template-columns: max-content min-content;
  grid-template-rows: repeat(2, min-content);
  gap: 16px 18px;
}

@media (max-width: 590px) {
  .profile__info {
    gap: 10px 14px;
  }
}
